body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#header{
    background-color: black;
    color: orange;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 5px #999;
}

#container{
    background-color: lightgray;
    color: darkblue;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 5px #999;
}